<html>

    <head>
    
        <title>Change Password</title>
        
         <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
     
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
      
        <link rel="stylesheet" href="css/newprofileupdate.css">
                
        <link rel="stylesheet" href="css/bootstrap.css">
	    
      <script src="js/jquery-3.5.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="js/oca.js"></script>
    
      
    
    </head>
    
        <body onload="chgPage()">
         
             <div class="wrapper">
            
                 <div class="sidebar">
            
                <h2>Online Comment Analyzer</h2>
                <ul>
                    <li><a class="underlineHover" href="javascript:userprofilePage()">User Profile</a></li>
					<li><a class="underlineHover" href="javascript:updateprofilePage()">Update Profile</a></li>
                    <li><a class="underlineHover" href="javascript:saPage()">Sentiment Analysis</a></li>
					<li><a class="underlineHover" href="javascript:changePwdPage()">Change Password</a></li>
                    <li><a class="underlineHover" href="javascript:planusage()">Plans Usage</a></li>
                   <li><a class="underlineHover" href="javascript:planspricePage()">Plans & Pricing</a></li>
                    <li><a href="/logout">Logout</a></li>
                
                </ul>
                
                 </div>
            
            <div class="main_content">
                
             <div class="header" style="text-align: right;"><label for="subscriber_code" style="text-align: right;" >Subscriber Code: <span id="subscribeCode"></span></label>
             </div>
                
             <br>  
                
<!------------------------------------------------Form coding--------------------------------------------------------------------->
                
                
                <div class="wrapper2">
              <!-- Tabs Titles -->
          
              <!-- Icon image -->
             <div class="fadeIn first" >
                <img style=" margin-left: 180px;margin-top:-20px;"src="image/login.svg" id="icon" alt="User Icon" />
              </div>
              <br>
              <!-- Registration Form -->
			 
              <div class="form">
                <div class="inputfield">
                            <label>Old Password</label>
                            <input type="password" id="oldpassword" class="input" placeholder="Enter old password" autocomplete="off">
                        </div>
                        
                        <div class="inputfield">
                            <label>New Password</label>
                            <input type="password" id="pass" class="input" placeholder="Enter new password" autocomplete="off">
                            
                        </div>
                        <span id="passMsg"></span>
                         <div class="inputfield">
                            <label>Confirm Password</label>
                            <input type="password" id="confpass" class="input" placeholder="Confirm new password" autocomplete="off">
                            
                        </div>
                             <span style=" margin-left: 140px;" id="confPassMsg"></span>                  
                        
                        <span style=" margin-left: 140px;" id="passwordMsg"></span>     
                       
                        <div class="inputfield">
                            <input type="button" id="btn" value="Submit" class="btn-editprofile" onclick="changePass()"style=" margin-left: 140px;">
                        </div>
                       
                       
                
                </div>
              <!-- Remind Passowrd -->
             
          
            </div>
                
                
                
                
                
                
              
                    
                   
            
                </div>
                
            </div>
                 
            
                 
             
            
            
 <script>
    function chgPage()
    {
    	var code=sessionStorage.getItem('subs');
       	document.getElementById("subscribeCode").innerHTML=code;
    }
 </script>
            
            
            
            
            
        </body>
    
</html>