<html>

    <head>
    
        <title>Plans And Pricing</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" href="css/planspricing.css">
                
        <link rel="stylesheet" href="css/bootstrap.css">
        
    
      <script src="js/oca.js"></script>

    
        
    
    </head>
	
	  <body onload="plansAndpricing()">
         
             <div class="wrapper">
            
                 <div class="sidebar">
            
                <h2>Online Comment Analyzer</h2>
                <ul>
                    <li><a class="underlineHover" href="javascript:userprofilePage()">User Profile</a></li>
					<li><a class="underlineHover" href="javascript:updateprofilePage()">Update Profile</a></li>
                    <li><a class="underlineHover" href="javascript:saPage()">Sentiment Analysis</a></li>
					<li><a class="underlineHover" href="javascript:changePwdPage()">Change Password</a></li>
                    <li><a class="underlineHover" href="javascript:planusage()">Plans Usage</a></li>
                    <li><a class="underlineHover" href="javascript:planspricePage()">Plans & Pricing</a></li>
                    <li><a href="/logout">Logout</a></li>
                
                </ul>
                
                 </div>
            
            <div class="main_content">
                
             <div class="header" style="text-align: right;"><label for="subscriber_code" style="text-align: right;" >Subscriber Code: <span id="subscribeCode"></span></label>
             </div>
                
             <br><br>   
                
<!------------------------------------------------Form coding--------------------------------------------------------------------->
                
                
                <div id="formContent">
              <!-- Tabs Titles -->
          
              <!-- Icon image -->
              <!-- <div class="fadeIn first">
                <img src="image/login.svg" id="icon" alt="User Icon" />
              </div>-->
          
              <!-- Registration Form -->
              <form>
			  
			  

                    <div class="table-responsive text-nowrap">
                        <!--Table-->
                        <table class="table table-striped">
                
                          <!--Table head-->
                           <thead>
                             <tr>
                              <th scope="row"></th>
                              <th scope="row">Plan Description</th>
                          
                              <th scope="row"> No. Of Queries</th>
                              <th scope="row"> Plan Validity Days</th>
                              <th scope="row"> Plan Value</th>
                             </tr>
                          </thead>
                          <!--Table head-->
                
                          <!--Table body-->
                          <tbody id="mytable">
                       
                          </tbody>
                      
                        </table>
                        <!--Table-->
                      </div>
                     
              </form>
              <!-- Remind Passowrd -->
             
          
            </div>
                
                
                
                
                
                
              
                    
                   
            
                </div>
                
            </div>
                 
            
                 
             
            
            
          
            
            
            
            
            
        </body>
    
</html>