<html>

    <head>
    
        <title>Plan Usage Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" href="css/profileupdate.css">
                
        <link rel="stylesheet" href="css/bootstrap.css">
		      
        
      <script src="js/jquery-3.5.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="js/oca.js"></script>

    
        
    
    </head>
	
 <body onload="planUsage()">
         
    <div class="wrapper">
            
                 <div class="sidebar">
            
                <h2>Online Comment Analyzer</h2>
                <ul>
                    <li><a class="underlineHover" href="javascript:userprofilePage()">User Profile</a></li>
					<li><a class="underlineHover" href="javascript:updateprofilePage()">Update Profile</a></li>
                    <li><a class="underlineHover" href="javascript:saPage()">Sentiment Analysis</a></li>
					<li><a class="underlineHover" href="javascript:changePwdPage()">Change Password</a></li>
					<li><a class="underlineHover" href="javascript:planusage()">Plans Usage</a></li>
                    <li><a class="underlineHover" href="javascript:planspricePage()">Plans & Pricing</a></li>
                    <li><a href="/logout">Logout</a></li>
                
                </ul>
                
                 </div>
            
        <div class="main_content">
                
             <div class="header" style="text-align: right;"><label for="subscriber_code" style="text-align: right;" >Subscriber Code: <span id="subscribeCode"></span></label>
             </div>
                
             <br><br>   
                
<!------------------------------------------------Form coding--------------------------------------------------------------------->
                
                
            <div id="formContent">
              <!-- Tabs Titles -->
          
              <!-- Icon image -->
              <!--<div class="fadeIn first">
                <img src="image/login.svg" id="icon" alt="User Icon" />
              </div>-->
          
              <!-- Registration Form -->
               <form>
			  
			     <table class="table table-striped w-auto">

                      <div class="table-responsive text-nowrap">
                          <!--Table-->
                          <table class="table table-striped" id= "my_td"><h5>Current Plan Details</h5>
                
                           
                              <tr>
                                <th scope="row">Plan Activated On :</th>
                                <td id="plan_start_date"></td>
                              
                              </tr>
                              <tr>
                              <th scope="row">Plan Ends On :</th>
                              <td id="plan_end_date"></td>
                              
                            </tr>
                            <tr>
                              <th scope="row">Queries Used :</th>
                              <td id="used_queries_count"></td>
                            </tr>
                            <tr>
                              <th scope="row">Queries Remaining :</th>
                              <td id="leftover_queries_count"></td>                              
                            </tr>
                         
                         </table>
					  </div>
                        <br><br>
                         <!--  <table class="table table-striped"><h5 style=" margin-left: 530px;">Upgrade Your Plan</h5>
                
                          Table head
                           <thead>
                             <tr>
                              <th></th>
                              <th style=" text-align: center;">Plan Description</th>
                          
                              <th style=" text-align: center;"> No. Of Queries</th>
                              <th style=" text-align: center;"> Plan Validity Days</th>
                              <th style=" text-align: center;"> Plan Value</th>
                             </tr>
                          </thead>
                          Table head
                
                          Table body
                          <tbody id="mytable">
                       
                          </tbody>
                
                        </table>
                 
                        Table
                      --> 
                      </div>
                     
              </form>
              <!-- Remind Passowrd -->
             
          
            </div>
              
                
                
                
              
                    
                   
            
        </div>
                
    </div>
                 
            
                 
             
            
            
          
            
            
            
            
            
 </body>
    
</html>