
<html>

    <head>
    
        <title>SAPage</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
     
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" href="css/sapage.css"> 
        <link rel="stylesheet" href="css/bootstrap.css">
        
		<script src="static/js/jquery-3.5.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="js/oca.js"></script>
	  
    </head>
	
    <body onload="SAPage()">
    
        <div class="wrapper">
            <div class="sidebar">
            
                <!-- <h2>Online Comment Analyzer</h2> -->
                <h2>National Oil Corporation</h2>
				<ul>
                   <!--  <li id="subscribeCode"></li> -->
                    <li><a class="underlineHover" href="javascript:userprofilePage()">Profil de l'utilisateur</a></li>
                    <li><a class="underlineHover" href="javascript:updateprofilePage()">Mettre à jour le profil</a></li>
					<!-- <li><a class="underlineHover" href="javascript:saPage()">Sentiment Analysis</a></li> -->
                    <li><a class="underlineHover" href="javascript:changePwdPage()">Changer le mot de passe</a></li>
					<!-- <li><a class="underlineHover" href="javascript:planusage()">Plans Usage</a></li>
					<li><a class="underlineHover" href="javascript:planspricePage()">Plans & Pricing</a></li>
                     --><li><a href="/logout">Se déconnecter</a></li>
                </ul>
                
            </div>
             
            <div class="main_content">
				<!-- <div class="header" style="text-align: right;"><label for="subscriber_code" style="text-align: right;" >Subscriber Code: <span id="subscribeCode"></span></label></div> -->
				
                <div class="info">
					<div style="margin-left: 65px;">
                    <h4>Soumission mensuelle pour PERENCO</h4>
                    <br><br>
                    <h5>Choisissez le type de fichier: </h5>
                    <div>
                      <input type="radio" name="select" value="Opex / Capex"> Opex / Capex
                      <br>
                      <input type="radio" name="select" value="CCP"> CCP
                      <br>
                      <input type="radio" name="select" value="Bilan Matière"> Bilan Matière
                    </div>
                    <div>
                    <select id="monthYear">
                     <option class="hidden"  selected disabled>Mois année</option>
                     <option>septembre 2020</option>
                     <option>octobre 2020</option>
                     <option>novembre 2020</option>
                     <option>décembre 2020</option>
                    </select>
                    </div>
                    </div>
                   <!--  <div style="width: 400px; 
                                height: 180px; 
                                
                                display: inline-block;
                                position: fixed;">
								
						<form>
							<div class="form-group">
								<textarea class="form-control rounded-0" id="comment" name="comment" rows="7" cols="55"></textarea>
							</div>
						</form>
                    
						code to add subscriber-code    
						<div>
							<input type="text" id="subscribeCode" name="subscribeCode"/>
						</div>
						
						<div class="row">
							<input type="submit" id="btnSubmit" class="upload_button" value="Submit" onclick="dashBoard()">
							<input type="submit" class="upload_button" value="Reset" onclick="reset()">
						</div>
    
						<div>
							<br>
							<span id="commentResponse"></span></br>
							<span id="src_lang"></span></br>
							<span id="trs_text"></span></br>
						</div>   
						
                    </div>   
	 -->				
					<div style="width: auto;
                                height: 180px;
                                
                                 
                                display: inline-block;
                                position: relative;">
						
						<form method=POST id="uploadForm" enctype=multipart/form-data style="margin-left: 65px; margin-top:100px;">
                        <div id="file_upload">
                          <label for="myfile">Téléchargement de fichier de données (Excel):</label>
							<div class="row"><input type=file name=file /> 
							<input type="submit" value="Télécharger">
                           </div>                        
                        </div>
   
						</form>
			             <hr>
						<form method=POST id="uploadForm" enctype=multipart/form-data style="margin-left: 65px;">
                        <div id="file_upload">
                          <label for="myfile">Téléchargement du fichier de copie signée (PDF):</label>
							<div class="row"><input type=file name=file /> 
                          <input type="submit" value="Télécharger"></div>                     
                        </div>
                        
                        
                    
						</form>
	
						
					</div>
                  
                </div>
                
            </div>
        
        </div>
    
		<script>
			function SAPage()
			{
				var code=sessionStorage.getItem('subs');
				document.getElementById("subscribeCode").innerHTML=code;
				
				var downbtn = document.getElementById('btnDownload');
				downbtn.disabled = true;
				downbtn.style.backgroundColor="#39ace7";
			}
			
			
			function dashBoard()
			{
			    var btn = document.getElementById('btnSubmit');
   	            btn.disabled = true;
				btn.style.backgroundColor="#39ace7";
				
				var message=document.getElementById("comment").value;
				var subscriptioncode=document.getElementById("subscribeCode").textContent;
				
				const data={review:message};
				const jsonData=JSON.stringify(data);
				var req=new XMLHttpRequest();
				req.open("POST", "/posresult", "true");
				req.setRequestHeader("Content-type","application/json");
				req.setRequestHeader("Token",subscriptioncode);
				req.send(jsonData);
				req.onreadystatechange=function()
				{
					if(req.readyState==4 && req.status==200)
					{
					
					var jsonResponse = JSON.parse(req.responseText);
					
					if(jsonResponse.hasOwnProperty("error_message")){
						document.getElementById("commentResponse").innerHTML=jsonResponse["error_message"];
					}
					else{
						document.getElementById("commentResponse").innerHTML="<b>Comment Sentiment - </b>"+jsonResponse["data"];
						document.getElementById("src_lang").innerHTML="<b>Source language - </b>"+jsonResponse["src"];
						document.getElementById("trs_text").innerHTML="<b>Translated comment - </b>"+jsonResponse["trnsltd_text"];
					}
					
					
					var btn = document.getElementById('btnSubmit');
   	                btn.disabled = false;
					}
				}
				
			}
			
			/*function for reset button*/
			function reset(){
			var btn = document.getElementById('btnSubmit');
   	        btn.disabled = false;
			var resetButton = document.getElementById("comment");
			var cmntResponse=document.getElementById("commentResponse");
			var srLang=document.getElementById("src_lang");
			var trsText=document.getElementById("trs_text");
				if(resetButton){
				resetButton.value= "";
				cmntResponse.value="";
				srLang.value="";
				trsText.value="";
				document.getElementById("commentResponse").innerHTML="";
				document.getElementById("src_lang").innerHTML="";
				document.getElementById("trs_text").innerHTML="";
				document.getElementById("msg").innerHTML="";
				document.getElementById("filename").innerHTML="";
				}
			}
			
			$(document).ready(function (e) {
				$('#btnUpload').on('click', function () {
					
					event.preventDefault();
                    var file_upload=document.getElementById('file_upload');
		         	var spinner=document.getElementById('spinner');
		        	var spinner_messager=document.getElementById('spinner_message');
			
		        	file_upload.classList.add('d-none');
		        	spinner.classList.remove('d-none');
		        	spinner_message.classList.remove('d-none');
					
					var btn = document.getElementById('btnUpload');
   	                btn.disabled = true;
					btn.style.backgroundColor="#39ace7";
					
					var downbtn = document.getElementById('btnDownload');
   	                downbtn.disabled = true;
					btn.style.backgroundColor="#39ace7";
					
					var subscriptioncode = document.getElementById("subscribeCode").textContent;
					var formData = new FormData(uploadForm);
					var uri = '/upload?sub='.concat(subscriptioncode);
					
					$.ajax({
						type : 'POST',
						url : uri,
						data : formData,
						processData : false,
						contentType : false,
						success : function(response) {
                        file_upload.classList.remove('d-none');
				    	spinner.classList.add('d-none');
				    	spinner_message.classList.add('d-none');
							if(response.hasOwnProperty("error_message")){
								message=response["error_message"];
								document.getElementById("msg").innerHTML=message;
								document.getElementById("filename").innerHTML="";
								
								var downbtn = document.getElementById('btnDownload');
								downbtn.disabled = true;
								downbtn.style.backgroundColor="#39ace7";
								
								var btn = document.getElementById('btnUpload');
								btn.disabled = false;
								
							}
							else{
								for(x in response){
									if(x == "msg")
									{
										message=response[x];
									}
									if(x == "file")
									{
										file=response[x];
									}							
								}
								
								document.getElementById("msg").innerHTML=message;
								document.getElementById("filename").innerHTML="<b>Download File - </b>"+file;
								
								var btn = document.getElementById('btnUpload');
								btn.disabled = false;
								
								var downbtn = document.getElementById('btnDownload');
								downbtn.disabled = false;
							}
						}
					});
					
				});
			})
			
			function download()
			{
				var get_file_name = document.getElementById("filename").innerText;
				if(get_file_name == ""){
					document.getElementById("msg").innerHTML="File Not Found";
					document.getElementById("filename").innerHTML="";
				}
				else{
					var get_filename = get_file_name.split(" - ")[1]
					window.location="/download?filename="+get_filename;
				}
				
				var downbtn = document.getElementById('btnDownload');
				downbtn.disabled = true;
				downbtn.style.backgroundColor="#39ace7";
			}
		</script>
    </body>
    
</html>